<div class= "carte-container">
<!--Affichage du bouton categorie et barre de recherche-->

<div class="filtre">

  @for (cat of categories; track cat) {
    <button (click)="categorieSelectionee.set(cat)" [class.active]="categorieSelectionee() === cat">{{ cat }}</button>
}
<input type ="text" placeholder="Rechercher un plat..." [value]="recherche()" (input)="recherche.set($event.target.value)" />
</div>
<!--Plat du jour-->
@if (platDujour()) {
  <div class="plat-du-jour">
    <h2>Plat du jour</h2>
    <div class="plat-card">
        <h5>{{platDujour()?.nom}}</h5>
        <p>{{platDujour()?.categorie}}</p>
        <p>Prix: {{platDujour()?.prix | currency:'XAF': 'symbol': '1.0-0'}}</p>
        <p> {{platDujour()?.disponible ? 'Disponible' : 'Non disponible'}}</p>
      </div>
    </div>
}

<!--gestion de l'affichage des plats-->
@if (plats.isLoading()) {
  <p>Chargement des plats...</p>
} @else if (plats.error()) {
  <p>Erreur lors du chargement des plats: {{plats.error()}}</p>
} @else {   
@if (platsFiltres().length > 0) {
  <div class="plat-grid">
    @for ( plat of platsFiltres(); track plat.id) { 
      <!--Utilisation de platsFiltres() pour afficher les plats filtrés--> 
      <div class="col-md-4 mb-4">
        <div class="plat-card" [class.unavailable]="!plat.disponible">
            <h5>{{plat.nom}}</h5>
            <p>{{plat.categorie}}</p>
            <p>Prix: {{plat.prix | currency:'XAF': 'symbol': '1.0-0'}}</p>
            <p class="card-text"> {{plat.disponible ? 'Disponible' : 'Non disponible'}}</p>
          </div>
        </div>
          }
  </div>
} @else {
  <p>Aucun plat disponible pour le moment.</p>
}
}
</div>