 span{
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    color:#333;
    transition: transform 0.15s ease,color 400ms ease;
 
}
span.gold{
    color:gold;
}
span:hover{
     transform: scale(1.3);
}

@media (max-width: 768px) {
    span{
        font-size: 1.5rem;
    }
    
    span:hover{
        transform: scale(1);
    }

}