.restaurant-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}
@media (max-width: 768px) {
  .restaurant-list {
    grid-template-columns: 1fr; /* 1 colonne sur mobile */
    padding: 1rem;
  }
}