<div class="reservation-container">
        <h2> Inscription </h2>
    <form>
        <input type="text" name ="nom" placeholder="entrer votre nom" [(ngModel)]="nom">
        <!--
        <input type="email" name ="email" placeholder="entrer votre email" [(ngModel)]="email">
        <input type="number" name ="numero" placeholder="nombre de personne " [(ngModel)]="numero">



        <select name="restaurant" [(ngModel)]="restaurant">
            <option value="">Choisir votre restaurant</option>
            <option value="Le calao dore">Le calao Dore</option>
        </select>

        <input type="date" name ="date" [(ngModel)]="date"> -->
        <button type="button" (click)="enregistrer()" [disabled]="!nom.trim()">{{onEdition()? 'Modifier' : 'Ajouter'}}</button>

    </form>

    @if(reservation().length === 0){
        <p>Aucune reservation pour le moment</p>

    }@else {

    <div class="reservation-list">
        <ul>
        @for (res of reservation(); track $index; let i = $index){
            <li>
                <span>{{res.nom}}</span>
                <!--
                <span>{{res.restaurant}}</span>
                <span>{{res.numero}} personne (s)</span>
                <span>{{res.date}}</span> -->
            
                <button type="button" (click)="modifier(i)">Modifier</button>
                <button type="button" (click)="supprimer(i)">Supprimer</button>

            </li>
        }
        </ul>
    </div>
    }
</div>